.pop-up-cover {
  display: inline-block;
  position: absolute;
  z-index: 1000;
  top: 60px;
  left: 100%;
  white-space: pre;
  min-width: 170px;
  border-radius: 10px;
  background: linear-gradient(
    146deg,
    rgba(15, 23, 127, 1) 0%,
    rgba(7, 8, 56, 1) 49%,
    rgba(6, 1, 31, 1) 83%
  );
  box-shadow: 19px 3px 40px -2px rgb(38 0 255 / 66%);
  color: rgb(122 122 255 / 71%);
  padding: 0 15px;
  animation-name: popAnimation, pullAnimation;
  animation-duration: 2s, 2s;
  animation-delay: 0s, 7s;
  animation-fill-mode: forwards;
}

.p {
  width: auto;
}

@keyframes popAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-120%);
  }
}

@keyframes pullAnimation {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0%);
  }
}
